.description {
  font-size: 20px;
  background-image: url("spectrum-gradient.png");
  background-size: cover;
  color: white;
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-weight: bold;
}

.homelink {
  font-size: 20px;
  text-decoration: none;
}

.container {
  width: 1000px;
  margin-top: 20px;
}
